/* CREATION DES VARIABLES SASS */
  /* COLORS */

$mainColor: #0052B4;
$secondColor: #016DF0;
$thirdColor: #94C7EF;

  /* MARGIN */

$litleMarginBottom: 1.5rem;
$mediumMarginBottom: 2.5rem;
$largeMarginBottom: 3.5rem;

  /* FONT SIZE */

$H1: 3.5rem;
$H2: 3rem;
$H3: 2.5rem;
$H4: 2rem;
$H5: 1.5rem;
$largeP: 1.5rem;
$normalP: 1.3rem;
$smallp: 1.1rem;

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid #d3d3d3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #251c81;
    background-image: linear-gradient(315deg, #0052B4  0%, #016DF0 74%);
}

 /* Style des titres et p */

body {

    font-family: 'Montserrat', sans-serif;
}
    
/* Header */

.header {

    font-size: $smallp;
    margin-top: 2.5rem;
    min-height: 100vh;
    color: white;
}

.presentation__main-title {

    font-size: $H1;
    margin-bottom: $mediumMarginBottom;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.418);
}
.icon {

    font-size: 1.5rem ;
    transition: all 0.5s;
    color: white;
}

.navbar__logo {

    height: 3.5rem;
    width: auto;
    background-color:white;
    border-radius: 50%;
    padding: 0.6rem
}

.footer-logo {

    height: 3.5rem;
    width: auto;
    background-color:white;
    border-radius: 50%;
    padding: 0.6rem
}

.presentation__p {

    font-size: $largeP;
    margin-bottom: $mediumMarginBottom;    
}

.header__navbar {

    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10em;
    transition: s height ease-in-out;

}

.header__navbar.clicked {

    height: 200px;
}

.navbar__elt {

    text-decoration: none;
    margin-right: 2rem;
    font-weight: normal;
    cursor: pointer;
    position: relative;
}

a.navbar__elt:before {

    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.navbar__elt:hover:before {

    visibility: visible;
    width: 100%;
}

.navbar__elts-box {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* BTN */

// Header Btn

.header-btn {
    background-color: white;
    border-radius: 30px;
    color: $mainColor;
    font-size: $smallp;
    height: 50px;
    width: 130px;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: solid 2px white;
        background-color: $mainColor;
        border-radius: 30px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: white;
        transition: all .3s;
        border-radius: 30px;
        z-index: -1;
    }
    &:hover {
        color: $mainColor;
        &:before {
        width: 100%;
    }
}
    }


#project-btn {

    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: solid white 2px;
    color: white;
    font-size: $smallp;
    height: 50px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;

}

#project-btn:hover {

    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

#presentation {

    margin-top: 5rem;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;

}


#avatar-img {

    height: 8.5em;
    margin-bottom: $mediumMarginBottom;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}


#header-footer {

    display: flex;
    justify-content: center;
    
}

#footer-img {

    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem 1rem 0 1rem;
}

/* PRESENTATATION */

.description__title {

    font-size: $H2;
    font-weight: bold;
    margin-bottom: $mediumMarginBottom;
}

#description {

    max-width: 100%;
    height: 35rem;
    padding: 1rem;
    background: linear-gradient(to right, #0052b4 0%, #016df0 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.description__p {

    text-align: center;
    font-size: $normalP;
    display: block;
    line-height: 1.7rem;
    margin: 0 2.5rem;

}

/* COMPETENCES */

#competences {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    top: -7rem;
    margin-bottom: $litleMarginBottom;
}

.container__title {

    border-bottom: $mainColor solid 1px;
    font-size: $H3;
    font-weight: bold;
    margin-bottom: $litleMarginBottom;
    padding-bottom: 2rem;
}

.server-img {
    width: 8em;
    height: auto;
    text-align: center;
    margin-bottom: $mediumMarginBottom;
}

.container {

width: 450px;
max-width: 90%;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
border-radius: 10px;
padding: 1.5rem;
background-color: white;
box-shadow: rgba(243, 243, 243, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.container__content {

    font-size: 1.3rem;
    margin-bottom: $largeMarginBottom;
    display: inline-block;
    line-height: 1.5em;
}

.container-subtitle {

    font-size: 2rem;
    margin-bottom: $mediumMarginBottom;
    font-weight: bold;
    color: $mainColor;
    font-style: italic;
}

#container-1 {

    margin-bottom: $mediumMarginBottom;
    max-width: 95%;
}

#container-2 {

    max-width: 95%;
}

/* Mes projets */

#projects {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.projects__title {

    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: $mediumMarginBottom;
}

.overlay__title {

    font-weight: bold;
    font-size: 2rem;
}

.projects__p {

    text-align: center;
    font-size: 1.3rem;
    display: block;
    line-height: 1.5rem;
    margin: 0 2.5rem;
}


.projects {

    height: 300px;
    width: 350px;
    margin-top: 1rem;
    margin-right: $litleMarginBottom;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.projects img {
    transition: transform .5s ease;
}

.projects:hover img {

    transform: scale(1.5);
}

#container-projects {

    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 95%;
}

#img1 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
}

#img2 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
}

.overlay {

    height: 300px;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay-1 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000000;
    background-image: linear-gradient(to right, #0052b4 0%, #016df0 100%);
}

.overlay-1 p {

    display: inline-block;
    line-height: 1.4rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0.5rem;
}

.hiden {

    display: none;
}

.hiden-nav {

    display: none;
    position: absolute;
    top: calc(3.5rem);
    right: $litleMarginBottom;
}


#overlay-1 {
    
    background-color: rgba(2, 2, 37, .5);
}


#overlay-2 {

    background-color: rgba(39, 97, 39, .5);
}

#overlay-3 {

    background-color: rgba(218, 165, 32, .5);
}

/* POP UP */

[class*="reveal-"] {
    
    opacity: 0;
    transform: translateY(150px);
    max-width: 100%;
}

.reveal-visible {

    opacity: 1;
    transform: translateY(0);
    transition: 1.2s cubic-bezier(.5, 0, 0, 1);

}

.reveal-2 {

    transition-delay: 1.15s;
}

.reveal-3 {

    transition-delay: 1.30s;
}

/* FOOTER */

#footer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    margin-top: 6rem;
    background: linear-gradient(to right, #0052b4 0%, #016df0 100%);
    color: white;
    text-shadow: 0 0 2px #a0a0a0;
    max-width: 100%;
}

.footer-slogan {

    font-size: 1.2rem;
}

#last-img {

    margin-right: 0;
}

#footer * {

    margin-bottom: $mediumMarginBottom;
    text-align: center;
}

#footer p {

    margin-bottom: $litleMarginBottom;
}

#reseaux {
    display: flex;
    justify-content: center;
}

#footer {

    margin-right: 0;
}

.social-img {

    margin-right: 2.5rem;
    height: 4.5rem;
    padding: 0.8rem;
    transition: .3s;
    cursor: pointer;
    background-color: white;
    border-radius: 20px
}

#social-box {
    height: 4rem;
}

.social-img:hover {

    filter: sepia(0.7);
    transition: .5s;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {

    .presentation__main-title {

        font-size: 2.5rem;
    }

    .presentation__p {

        font-size: 1.5rem;
        
    }

    .description__title {

        font-size: 2.0rem;
        font-weight: bold;
        margin-bottom: $mediumMarginBottom;
    }

    #description {

        height: 35rem;
    }

    .social-img {

        height: 3rem;
    }

}

@media screen and (max-width: 501px) {

    .projects {

        margin-right: 0;
    }

    #description {

        height: 40rem;
    }

    .social-img {

        height: 2.5rem;
    }
    
    
    #description {

        justify-content: flex-start;
        padding: 4rem 2rem 11rem 2rem;
        height: auto;
    }


    .navbar__elts-box li:not(:first-child) {
        
        display: none;
    }

    .hiden-nav {

        display: block;
    }
    
    .navbar__elts-box.responsive li:not(:first-child) {

        display: flex;
        flex-direction: column;
        animation: opacity 1s ;
    }

    .navbar__elts-box.responsive:not(:first-child) {

        display: flex;
        flex-direction: column;     
    }

    .navbar__logo {

        position: absolute;
        top:2.5rem;
        left: $litleMarginBottom;


    }

    .navbar__elt {

        margin-right: 0;
    }

    #navbar {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        font-size: $largeP;
        margin-bottom: 1.5rem;
    }

    #navbar > li {

        margin-bottom: 1rem;
        margin-right: 0;
    }

    .header__navbar {

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
        display: flex;
        justify-content: center;
        margin-bottom: 5em;
        transition: height 0.4s ease-in-out
}
}

// Wavy bg

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes opacity {
    0% {
        transform: translateY(-100px)
    }

    50% {
    }

    100% {
        transform: translateY(0px)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    z-index: -10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0px;
    background-image: linear-gradient(to top, #94C7EF 20%, #016DF0 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite

}

