/* SCROLL BAR */

::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid #d3d3d3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #251c81;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

/* Style des titres et p */

body {
    font-family: 'Poppins', sans-serif;

}

h1, h2, h3, h4 {

    font-family: 'Playfair Display', serif;
}


p {
    font-size: 1.2em;
    font-weight: 200;
}

/* Header */

.header {

    font-size: 1.2em;
    margin-top: 2.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.presentation__main-title {

    font-size: 3.5em;
    margin-bottom: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.icon {

    font-size: 1.5rem ;
    transition: all 0.5s;
    color: black;
}

.navbar-logo {

    height: 3em;
}

.icon:hover {

    transform: rotate(90deg);
    transition: 0.5s;
}

.footer-logo {

    height: 2.5rem;
    width: auto;
    
}

.presentation__p {

    font-size: 1.5em;
    margin-bottom: 2.5rem;
    
}

.header__navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.navbar-elt {

    text-decoration: none;
    font-size: 1.2em;
    margin-right: 1.5rem;
    font-weight: normal;
    cursor: pointer;
}

.navbar-elt:hover {

    color: #0052B4;


}

/* BTN */

.header-btn {

    background-color: white;
    border-radius: 30px;
    border: solid rgb(17, 11, 180) 2px;
    color: rgb(17, 11, 180);
    font-size: 1.3em;
    height: 50px;
    width: 130px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.header-btn:hover {

    background-color: #0052B4;
    color: white;
}

#project-btn {

    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: solid white 2px;
    color: white;
    font-size: 1em;
    height: 50px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;

}

#project-btn:hover {

    background-color: white;
    color: black;
    transition-duration: 0.5s;
}


#presentation {

    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;

}

#avatar-img {

    width: 4em;
    height: auto;
    margin-bottom: 2.5rem;
}

#header-footer {

    display: flex;
    justify-content: center;
    
}

#footer-img {

    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem 1rem 0 1rem;
}

/* PRESENTATATION */

.description-title {

    font-size: 3em;
    font-weight: bold;
    margin-bottom: 3rem;

    
}

#description {

    max-width: 100%;
    height: 50rem;
    padding: 1rem;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#p1 {

    text-align: center;
    font-size: 1.2em;
    display: block;
    line-height: 1.7rem;
    margin: 0 2.5rem;

}

/* COMPETENCES */

#competences {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    top: -7rem;
    margin-bottom: 2rem;
}


.container__title {

    border-bottom: #0051b455 solid 1px;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.server-img {
    width: 8em;
    height: auto;
    text-align: center;
    margin-bottom: 2rem;
}

.container {

   width: 450px;
   max-width: 95%;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   border-radius: 10px;
   padding: 1.5rem;
   border: solid 1px rgba(230, 230, 230, 0.856);
   background-color: white;
   box-shadow: 0 5px 5px rgba(221, 221, 221, 0.37);

}

.container__content {

    font-size: 1.3em;
    margin-bottom: 3.5rem;
    display: inline-block;
    line-height: 1.5em;
}

.container-subtitle {

    font-size: 2em;
    margin-bottom: 2.5rem;
    font-weight: 700;
    color: #0052B4;
}

#container-1 {

    margin-bottom: 1rem;
}

/* Mes projets */

#projects {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.projects__title {

    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 2.5rem;


}

.projects__p {

    text-align: center;
    font-size: 1.2em;
    display: block;
    line-height: 1.7rem;
    margin: 0 2.5rem;
}


.projects {

    height: 300px;
    width: 350px;
    margin-top: 1rem;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projects img {
    transition: transform .5s ease;
  }

.projects:hover img {

    transform: scale(1.5);
    
}

#container-projects {

    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#img1 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
}

#img2 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
}

.overlay {

    height: 300px;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.overlay-1 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:wheat;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.overlay-1 p {

    display: inline-block;
    line-height: 1.4rem;
    font-size: 1.2em;
    text-align: center;
    margin: 2rem 0.5rem;
}

.hiden {

    display: none;
}


.overlay p {

    font-size: 1.5em;
    font-weight: 600;
}

#overlay-1 {

    background-color: rgba(2, 2, 37, .5);
}


#overlay-2 {

    background-color: rgba(39, 97, 39, .5);
}

#overlay-3 {

    background-color: rgba(218, 165, 32, .5);
}

/* POP UP */

[class*="reveal-"] {
    
    opacity: 0;
    transform: translateY(200px);
}

.reveal-visible {

    opacity: 1;
    transform: translateY(0);
    transition: 1.2s cubic-bezier(.5, 0, 0, 1);

}

.reveal-2 {

    transition-delay: .15s;
}

.reveal-3 {

    transition-delay: .30s;
}

/* FOOTER */

#footer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    margin-top: 6rem;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: rgba(201, 201, 201, 0.63);
}

.footer-slogan {

    font-size: 1.2em;
}

#footer * {

    margin-bottom: 2rem;
    text-align: center;
}

#footer p {

    margin: 1rem 0;
}

#reseaux {
    display: flex;
}

.social-img {

    margin-right: 45px;
    height: 3.5em;
    width: auto;
    transition: 1s;
    cursor: pointer;
}

#social-box {
    height: 45px;
}

.social-img:hover {

    filter: sepia(0.7);
    transition: .5s;
}

/* RESPONSIVE */


@media screen and (max-width: 900px ) {

    #presentation, .header__navbar, #presentation {

        font-size: 0.9em;
    }
}


@media screen and (max-width: 760px ) {

    #presentation, .header__navbar, #presentation {

        font-size: 0.8em;
    }
}

@media screen and (max-width: 650px ) {

    #presentation, .header__navbar, #presentation {

        font-size: 0.65em;
    }

    
}

@media screen and (max-width: 500px ) {

    #presentation, .header__navbar, #presentation {

        font-size: 0.6em;
    }

    #avatar-img {

        font-size: 1.2em;
    }

    
}