/* CREATION DES VARIABLES SASS */
/* COLORS */
/* MARGIN */
/* FONT SIZE */
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
  border-left: 1px solid #d3d3d3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #251c81;
  background-image: linear-gradient(315deg, #0052B4 0%, #016DF0 74%);
}

/* Style des titres et p */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
.header {
  font-size: 1.1rem;
  margin-top: 2.5rem;
  min-height: 100vh;
  color: white;
}

.presentation__main-title {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.418);
}

.icon {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.navbar__logo {
  height: 3.5rem;
  width: auto;
  background-color: white;
  border-radius: 50%;
  padding: 0.6rem;
}

.footer-logo {
  height: 3.5rem;
  width: auto;
  background-color: white;
  border-radius: 50%;
  padding: 0.6rem;
}

.presentation__p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10em;
}

.navbar__elt {
  text-decoration: none;
  margin-right: 2rem;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}

a.navbar__elt:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -5px;
  left: 0;
  border-radius: 5px;
  background-color: white;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.navbar__elt:hover:before {
  visibility: visible;
  width: 100%;
}

.navbar__elts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* BTN */
.header-btn {
  background-color: white;
  border-radius: 30px;
  border: none;
  color: #0052B4;
  font-size: 1.1rem;
  height: 50px;
  width: 130px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #0052B4;
  color: white;
}

#project-btn {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border: solid white 2px;
  color: white;
  font-size: 1.1rem;
  height: 50px;
  width: 130px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#project-btn:hover {
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#presentation {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 2rem;
}

#avatar-img {
  height: 8.5em;
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-img {
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem 1rem 0 1rem;
}

/* PRESENTATATION */
.description__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

#description {
  max-width: 100%;
  height: 35rem;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#0052b4), to(#016df0));
  background: linear-gradient(to right, #0052b4 0%, #016df0 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.description__p {
  text-align: center;
  font-size: 1.3rem;
  display: block;
  line-height: 1.7rem;
  margin: 0 2.5rem;
}

/* COMPETENCES */
#competences {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: -7rem;
  margin-bottom: 1.5rem;
}

.container__title {
  border-bottom: #0052B4 solid 1px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
}

.server-img {
  width: 8em;
  height: auto;
  text-align: center;
  margin-bottom: 2.5rem;
}

.container {
  width: 450px;
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: white;
  -webkit-box-shadow: rgba(243, 243, 243, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(243, 243, 243, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container__content {
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
  display: inline-block;
  line-height: 1.5em;
}

.container-subtitle {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: #0052B4;
  font-style: italic;
}

#container-1 {
  margin-bottom: 1.5rem;
  max-width: 95%;
}

#container-2 {
  max-width: 95%;
}

/* Mes projets */
#projects {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.overlay__title {
  font-weight: bold;
  font-size: 2rem;
}

.projects__p {
  text-align: center;
  font-size: 1.3rem;
  display: block;
  line-height: 1.5rem;
  margin: 0 2.5rem;
}

.projects {
  height: 300px;
  width: 350px;
  margin-top: 1rem;
  margin-right: 1.5rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projects img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.projects:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#container-projects {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 95%;
}

#img1 {
  height: 300px;
  width: 350px;
  border-radius: 10px;
}

#img2 {
  height: 300px;
  width: 350px;
  border-radius: 10px;
}

.overlay {
  height: 300px;
  width: 350px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.overlay-1 {
  height: 300px;
  width: 350px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#0052b4), to(#016df0));
  background-image: linear-gradient(to right, #0052b4 0%, #016df0 100%);
}

.overlay-1 p {
  display: inline-block;
  line-height: 1.4rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 0.5rem;
}

.hiden {
  display: none;
}

.hiden-nav {
  display: none;
  position: absolute;
  top: calc(3.5rem);
  right: 1.5rem;
}

#overlay-1 {
  background-color: rgba(2, 2, 37, 0.5);
}

#overlay-2 {
  background-color: rgba(39, 97, 39, 0.5);
}

#overlay-3 {
  background-color: rgba(218, 165, 32, 0.5);
}

/* POP UP */
[class*="reveal-"] {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  max-width: 100%;
}

.reveal-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.2s cubic-bezier(0.5, 0, 0, 1);
  transition: 1.2s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-2 {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}

.reveal-3 {
  -webkit-transition-delay: 1.30s;
          transition-delay: 1.30s;
}

/* FOOTER */
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1rem;
  margin-top: 6rem;
  background: -webkit-gradient(linear, left top, right top, from(#0052b4), to(#016df0));
  background: linear-gradient(to right, #0052b4 0%, #016df0 100%);
  color: white;
  text-shadow: 0 0 2px #a0a0a0;
  max-width: 100%;
}

.footer-slogan {
  font-size: 1.2rem;
}

#last-img {
  margin-right: 0;
}

#footer * {
  margin-bottom: 2.5rem;
  text-align: center;
}

#footer p {
  margin-bottom: 1.5rem;
}

#reseaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer {
  margin-right: 0;
}

.social-img {
  margin-right: 2.5rem;
  height: 4.5rem;
  padding: 0.8rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
}

#social-box {
  height: 4rem;
}

.social-img:hover {
  -webkit-filter: sepia(0.7);
          filter: sepia(0.7);
  -webkit-transition: .5s;
  transition: .5s;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
  .presentation__main-title {
    font-size: 2.5rem;
  }
  .presentation__p {
    font-size: 1.5rem;
  }
  .description__title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
  #description {
    height: 35rem;
  }
  .social-img {
    height: 3rem;
  }
}

@media screen and (max-width: 501px) {
  .projects {
    margin-right: 0;
  }
  #description {
    height: 40rem;
  }
  .social-img {
    height: 2.5rem;
  }
  #description {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 4rem 2rem 11rem 2rem;
    height: auto;
  }
  .navbar__elts-box li:not(:first-child) {
    display: none;
  }
  .hiden-nav {
    display: block;
  }
  .navbar__elts-box.responsive li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__elts-box.responsive:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__logo {
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
  }
  .navbar__elt {
    margin-right: 0;
  }
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #navbar > li {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .header__navbar {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5em;
  }
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #94C7EF), color-stop(80%, #016DF0));
  background-image: linear-gradient(to top, #94C7EF 20%, #016DF0 80%);
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}

.waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}
/*# sourceMappingURL=style.css.map */