/* CREATION DES VARIABLES SASS */


/* COLORS */

$mainColor: #0052B4;

/* MARGIN */

$litleMarginBottom: 1.5rem;
$mediumMarginBottom: 2.5rem;
$largeMarginBottom: 3.5rem;

/* FONT SIZE */

$H1: 3.5rem;
$H2: 3rem;
$H3: 2.5rem;
$H4: 2rem;
$H5: 1.5rem;
$largeP: 1.5rem;
$normalP: 1.3rem;
$smallp: 1.1rem;


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid #d3d3d3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #251c81;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

/* Style des titres et p */

body {

    font-family: 'Montserrat', sans-serif;

}
    
/* Header */

.header {

    font-size: $smallp;
    margin-top: 2.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.presentation__main-title {

    font-size: $H1;
    margin-bottom: $mediumMarginBottom;
    font-weight: bold;
    line-height: 1.5;
}

.icon {

    font-size: 1.5rem ;
    transition: all 0.5s;
    color: black;
}

.navbar__logo {

    height: 3em;
}


.footer-logo {

    height: 2.5rem;
    width: auto;
    
}

.presentation__p {

    font-size: $largeP;
    margin-bottom: $mediumMarginBottom;
    
}

.header__navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.navbar__elt {

    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: normal;
    cursor: pointer;
}

.navbar-elt:hover {

    color: $mainColor;

}

.navbar__elts-box {

    display: flex;
    justify-content: space-around;
    align-items: center;  
}

/* BTN */

.header-btn {

    background-color: white;
    border-radius: 30px;
    border: solid rgb(17, 11, 180) 2px;
    color: rgb(17, 11, 180);
    font-size: $smallp;
    height: 50px;
    width: 130px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.header-btn:hover {

    background-color: $mainColor;
    color: white;
}

#project-btn {

    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: solid white 2px;
    color: white;
    font-size: $smallp;
    height: 50px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;

}

#project-btn:hover {

    background-color: white;
    color: black;
    transition-duration: 0.5s;
}


#presentation {

    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;

}

#avatar-img {

    width: 4em;
    height: auto;
    margin-bottom: $mediumMarginBottom;
}

#header-footer {

    display: flex;
    justify-content: center;
    
}

#footer-img {

    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem 1rem 0 1rem;
}

/* PRESENTATATION */

.description__title {

    font-size: $H2;
    font-weight: bold;
    margin-bottom: $mediumMarginBottom;
}

#description {

    max-width: 100%;
    height: 35rem;
    padding: 1rem;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.description__p {

    text-align: center;
    font-size: $normalP;
    display: block;
    line-height: 1.7rem;
    margin: 0 2.5rem;

}

/* COMPETENCES */

#competences {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    top: -7rem;
    margin-bottom: $litleMarginBottom;
}


.container__title {

    border-bottom: $mainColor solid 1px;
    font-size: $H3;
    font-weight: bold;
    margin-bottom: $litleMarginBottom;
    padding-bottom: 2rem;
}

.server-img {
    width: 8em;
    height: auto;
    text-align: center;
    margin-bottom: $mediumMarginBottom;
}

.container {

   width: 450px;
   max-width: 95%;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   border-radius: 10px;
   padding: 1.5rem;
   border: solid 1px rgba(230, 230, 230, 0.856);
   background-color: white;
   box-shadow: 0 5px 5px rgba(221, 221, 221, 0.37);

}

.container__content {

    font-size: 1.3rem;
    margin-bottom: $largeMarginBottom;
    display: inline-block;
    line-height: 1.5em;
}

.container-subtitle {

    font-size: 2rem;
    margin-bottom: $mediumMarginBottom;
    font-weight: bold;
    color: $mainColor;
    font-style: italic;
}

#container-1 {

    margin-bottom: $litleMarginBottom;
    max-width: 95%;
}

#container-2 {

    max-width: 95%;
}

/* Mes projets */

#projects {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.projects__title {

    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: $mediumMarginBottom;


}

.overlay__title {

    font-weight: bold;
    font-size: 2rem;
}

.projects__p {

    text-align: center;
    font-size: 1.3rem;
    display: block;
    line-height: 1.5rem;
    margin: 0 2.5rem;
}


.projects {

    height: 300px;
    width: 350px;
    margin-top: 1rem;
    margin-right: $litleMarginBottom;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projects img {
    transition: transform .5s ease;
  }

.projects:hover img {

    transform: scale(1.5);
    
}

#container-projects {

    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 95%;
}

#img1 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
}

#img2 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
}

.overlay {

    height: 300px;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.overlay-1 {

    height: 300px;
    width: 350px;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:wheat;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.overlay-1 p {

    display: inline-block;
    line-height: 1.4rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0.5rem;
}

.hiden {

    display: none;
}


#overlay-1 {

    background-color: rgba(2, 2, 37, .5);
}


#overlay-2 {

    background-color: rgba(39, 97, 39, .5);
}

#overlay-3 {

    background-color: rgba(218, 165, 32, .5);
}

/* POP UP */

[class*="reveal-"] {
    
    opacity: 0;
    transform: translateY(150px);
    max-width: 100%;
}

.reveal-visible {

    opacity: 1;
    transform: translateY(0);
    transition: 1.2s cubic-bezier(.5, 0, 0, 1);

}

.reveal-2 {

    transition-delay: .15s;
}

.reveal-3 {

    transition-delay: .30s;
}

/* FOOTER */

#footer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    margin-top: 6rem;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: rgba(211, 211, 211, 0.74);
    max-width: 100%;
}

.footer-slogan {

    font-size: 1.2rem;
}

#last-img {

    margin-right: 0;
}

#footer * {

    margin-bottom: $mediumMarginBottom;
    text-align: center;
}

#footer p {

    margin-bottom: $litleMarginBottom;
}

#reseaux {
    display: flex;
    justify-content: center;
}

#footer {

    margin-right: 0;
}

.social-img {

    margin-right: 2.5rem;
    height: 3.5rem;
    width: auto;
    transition: 1s;
    cursor: pointer;
}

#social-box {
    height: 4rem;
}

.social-img:hover {

    filter: sepia(0.7);
    transition: .5s;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {

    .presentation__main-title {

        font-size: 3rem;
    }

    .presentation__p {

        font-size: 1.5rem;
        
    }

    .description__title {

        font-size: 2.0rem;
        font-weight: bold;
        margin-bottom: $mediumMarginBottom;
    }

    #description {

        height: 35rem;
    }

    .social-img {

        height: 3rem;
    }

}

@media screen and (max-width: 501px) {

    .projects {

        margin-right: 0;
    }

    #description {

        height: 40rem;
    }

    .social-img {

        height: 2.5rem;
    }

    .navbar__elt, .header-btn {
        display: none;
    }

    .hiden {

        float: right;
        display: block;
        margin-right: 2rem;
    }

    .header__navbar {

        justify-content: space-between;
    }

    .navbar__logo {

        margin-left: 1rem;
    }

    #description {

        justify-content: flex-start;
        padding: 4rem 2rem 11rem 2rem;
        height: auto;
    }
}